<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisgenerator.mapper.InviteToChatroomEventMapper">
  <resultMap id="BaseResultMap" type="com.mybatisgenerator.model.InviteToChatroomEvent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="external_user_id" jdbcType="VARCHAR" property="externalUserId" />
    <result column="wechat_account" jdbcType="VARCHAR" property="wechatAccount" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, external_user_id, wechat_account, add_time, `status`, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invite_to_chatroom_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from invite_to_chatroom_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatisgenerator.model.InviteToChatroomEvent">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invite_to_chatroom_event (external_user_id, wechat_account, add_time, 
      `status`, create_time, update_time
      )
    values (#{externalUserId,jdbcType=VARCHAR}, #{wechatAccount,jdbcType=VARCHAR}, #{addTime,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatisgenerator.model.InviteToChatroomEvent">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into invite_to_chatroom_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="externalUserId != null">
        external_user_id,
      </if>
      <if test="wechatAccount != null">
        wechat_account,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="externalUserId != null">
        #{externalUserId,jdbcType=VARCHAR},
      </if>
      <if test="wechatAccount != null">
        #{wechatAccount,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatisgenerator.model.InviteToChatroomEvent">
    update invite_to_chatroom_event
    <set>
      <if test="externalUserId != null">
        external_user_id = #{externalUserId,jdbcType=VARCHAR},
      </if>
      <if test="wechatAccount != null">
        wechat_account = #{wechatAccount,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatisgenerator.model.InviteToChatroomEvent">
    update invite_to_chatroom_event
    set external_user_id = #{externalUserId,jdbcType=VARCHAR},
      wechat_account = #{wechatAccount,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>